

<!-- <%= button_to "Create Game", { action: :create, :id => Game.new }, method: "post" %> -->

<div class="center"><%= button_to "Deal", {action: :create, id: @game}, method: "post" %>
</div>

<% unless Game.all.count == 0 %>
	<% @decks.each do |deck| %>
	<div class="each-game">

		<div class="destroy-btn">
			<%= link_to '<button type="button" class="btn btn-primary btn-lg destroy">Destroy</button>'.html_safe, game_path(Game.find_by(deck: deck)).html_safe, method: :delete %>
		</div>


		<h3 class="data-header">Data:</h3>
		<div class="data">
			<p><strong>deal:</strong> <%= deal = JSON.parse(deck).slice(0,7) %></p>
			<p><strong>all_hands_from_deal:</strong> <%= all_hands = HandCalculator.all_hands_from_cards(deal) %></p>
			<p><strong>best hand:</strong> <%= best_hand = HandCalculator.best_hand(all_hands) %></p>
		</div>

		<div class="poker-table">
			<div class="cards">
				<img src="/assets/<%= best_hand[0][0] %>.gif"/><img src="/assets/<%= best_hand[0][1] %>.gif"/><img src="/assets/<%= best_hand[0][2] %>.gif"/><img src="/assets/<%= best_hand[0][3] %>.gif"/><img src="/assets/<%= best_hand[0][4] %>.gif"/>
			</div>
		</div>
		
		<div class="jumbotron">
			<div class="center">
				<strong><%= HandCalculator.winning_hand(best_hand) %></strong>
			</div>
		</div>

	</div>
	<% end %>
<% end %>